#lobby {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 30px;
    border: 5px brown solid;
}
.rooms {
    padding: 30px;
    width: 50%;
    border: 5px aqua solid;
}
.scheduler {
    padding: 30px;
    width: 50%;
    border: 5px greenyellow solid;
}
