.scheduler-upper {
    display: flex;
    flex-direction: column;
    height: 540px;
}

/* 헤더 파트 */
.schedule-header-row {
    border: 2px solid darkslateblue;
    height: 120px;
    padding: 5px 30px;
}

/* 바디 파트 */
.schedule-body-row {
    border: 2px solid darkolivegreen;
    overflow: auto;
}
.schedule-each-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px 30px;
    border: 2px solid moccasin;
}
.schedule-each-row__btns {
    display: flex;
    justify-content: space-between;
}

/* 스케쥴 추가 파트 */
.schedule-create-row {
    border: 2px solid darkorange;
    padding: 5px 15px;
    min-height: 100px;
}
.schedule-create-row__input {
    width: 100%;
    height: inherit;
}
