header {
    width: 100%;
}
.header__common {
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
}
.header__notice {
    display: flex;
    justify-content: center;
    border: 2px solid darkmagenta;
}
